@import 'scss/colors.scss';
.slick-prev, .slick-next{
    color: $black;
    
}
.slick-prev {
    left: -10px;
}
.slick-next {
    right: -10px;
}
.overflow-hidden {
    height: 7rem;
    padding-top: 1rem;
    overflow: hidden;
}
.line {
    left: 50%;
    right: 50%;
    width: 100px;
    height: 1px;
}